@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 300;
  src: local('Source Sans Pro Light'), local('SourceSansPro-Light'), url("../fonts/sourcesanspro/sourcesanspro-light.woff?v=7951903") format('woff');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Sans Pro'), local('SourceSansPro-Regular'), url("../fonts/sourcesanspro/sourcesanspro.woff?v=c4f39c8") format('woff');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  src: local('Source Sans Pro Bold'), local('SourceSansPro-Bold'), url("../fonts/sourcesanspro/sourcesanspro-bold.woff?v=1146f3f") format('woff');
}